.myTheme {
  --primary-color: #22d3ee;
  --accent-color: #9ca3af;
  --neutral-color: #1e2129;
  --background-color: #6b1280;
}

/* about.module.css */
.backgroundImage {
  position: absolute;
  right: 0;
  width: 58%;
  height: 150%;
  object-fit: cover;
}

.word {
  color: white;
  transition: color 0.3s ease;
}

.hoveredAbout .word {
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.ringsRight {
  position: absolute;
  right: 0;
  width: 27%;
  height: 100%;
  object-fit: cover;
}

/***section about**/
.sectionAbout {
  display: flex;

}

.verticalhr {
  height: 50%;
  width: 1px;
  background-color: rgb(252, 252, 252);
  transform: rotate(900deg);
}
.horizontalhr {
  height:90%;
  width: 1px;
  background-color: rgb(252, 252, 252);
  transform: rotate(90deg);
}