.myTheme {
  --primary-color: #22d3ee;
  --accent-color: #9ca3af;
  --neutral-color: #6b7280;
}

.contenedor {
  position: relative;
  z-index: 1;
}

.herocopy {
  width: 100%;
  text-align: center;
}

.herocopyh1 {
  font-size: 7vw;
  color: antiquewhite;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-weight: 600;
}

.hoveredWord {
  color: var(--primary-color);
  transition: color 1.3s;
}

.flipText {
  transform: scaleY(-1);
}

/******videohorizontal******/

.heroVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 190%;
  max-height: 100%;
}

/***VIDEO VERTICAL***/

.heroVideoVertical {
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 300%;
  min-height: 100%;
}

/**Gsap Text**/
#scramble {
  font-size: 2vw;
  font-size: 20px;
}
