/* .nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 0;
  z-index: 1000;
} */
/* 
.header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 0.3s ease-in;
  overflow: hidden;
}

.headerbg {
  background-color:black;
  z-index: 1000;
}

.header .navbar {

  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
} */

.logo {
  z-index: 1000;
  font-family: "Montserrat Subrayada", sans-serif;
  text-transform: uppercase;
}

.links {
  z-index: 5000;
  gap: 3em;
  margin-right: auto;
  transition: transform 0.3s ease;
}

.enlaces {
  z-index: 1000;
  text-decoration: none;
  color: antiquewhite;
  font-family: "Montserrat", sans-serif;
  pointer-events: auto;
}

/* .enlaces::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.enlaces:hover::after {
  background-color: #22d3ee8c;
} */
