.logo {
  z-index: 1000;
  font-family: "Montserrat Subrayada", sans-serif;
  text-transform: uppercase;
}

.links {
  z-index: 50000;
  gap: 3em;
  margin-right: auto;
  transition: transform 0.3s ease;
}

.enlaces {
  z-index: 1000;
  text-decoration: none;
  color: antiquewhite;
  font-family: "Montserrat", sans-serif;
  pointer-events: auto;
}

/* Navbar.module.css */
.links-transition {
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.links-hidden {
  z-index: 10000;
}
